<a href="https://colab.research.google.com/github/ninjaa1234/Learning_New/blob/main/Pandas/pd_Handle_Missing_Data_fillna%2C_dropna%2C_interpolate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [11]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
type(df.day[0])

str

#1) Convert string column into date datatype

In [12]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/5_handling_missing_data_fillna_dropna_interpolate/weather_data.csv",parse_dates=["day"])
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

#3) Make day as the index column

In [13]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

#4)fillna() method
###fills nil with a certain value

In [ ]:
new_df=df.fillna(0)
new_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
new_df1=df.fillna({
    'tempereture':0,
    'windspeed':0,
    "event":"no event"

})
new_df1

         day  temperature  windspeed     event
0   1/1/2017         32.0        6.0      Rain
1   1/4/2017          NaN        9.0     Sunny
2   1/5/2017         28.0        0.0      Snow
3   1/6/2017          NaN        7.0  no event
4   1/7/2017         32.0        0.0      Rain
5   1/8/2017          NaN        0.0     Sunny
6   1/9/2017          NaN        0.0  no event
7  1/10/2017         34.0        8.0    Cloudy
8  1/11/2017         40.0       12.0     Sunny

In [ ]:
df.temperature.mean()

33.2

#5) fillna(method="ffill")
###fills na with top row entry value

In [ ]:
new_df2=df.fillna(method="ffill")
new_df2

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        7.0   Sunny
6   1/9/2017         32.0        7.0   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [ ]:
new_df6=df.fillna(method="ffill",limit=1)
new_df6

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        NaN   Sunny
6   1/9/2017          NaN        NaN   Sunny
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

#6)fillna(method="bfill")
###fills na with next below row entry value

In [ ]:
new_df4=df.fillna(method="bfill")
new_df4

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         28.0        9.0   Sunny
2   1/5/2017         28.0        7.0    Snow
3   1/6/2017         32.0        7.0    Rain
4   1/7/2017         32.0        8.0    Rain
5   1/8/2017         34.0        8.0   Sunny
6   1/9/2017         34.0        8.0  Cloudy
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

### fills na with nest column entry value

In [ ]:
new_df5=df.fillna(method="bfill",axis="columns")
new_df5

         day temperature windspeed   event
0   1/1/2017        32.0       6.0    Rain
1   1/4/2017         9.0       9.0   Sunny
2   1/5/2017        28.0      Snow    Snow
3   1/6/2017         7.0       7.0     NaN
4   1/7/2017        32.0      Rain    Rain
5   1/8/2017       Sunny     Sunny   Sunny
6   1/9/2017         NaN       NaN     NaN
7  1/10/2017        34.0       8.0  Cloudy
8  1/11/2017        40.0      12.0   Sunny

#7)interpolate()

In [ ]:
new_df7=df.interpolate()
new_df7

         day  temperature  windspeed   event
0   1/1/2017    32.000000       6.00    Rain
1   1/4/2017    30.000000       9.00   Sunny
2   1/5/2017    28.000000       8.00    Snow
3   1/6/2017    30.000000       7.00     NaN
4   1/7/2017    32.000000       7.25    Rain
5   1/8/2017    32.666667       7.50   Sunny
6   1/9/2017    33.333333       7.75     NaN
7  1/10/2017    34.000000       8.00  Cloudy
8  1/11/2017    40.000000      12.00   Sunny

In [15]:
new_df8=df.interpolate(method="time")
new_df8

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

#8) Delete rows with any na value

In [4]:
new_df9=df.dropna()
new_df9

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

###drops rows that has all values na

In [5]:
new_df10=df.dropna(how="all")
new_df10

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

###atleast n na values, keep the row

In [8]:
new_df10=df.dropna(thresh=3)
new_df10

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
4   1/7/2017         32.0        NaN    Rain
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

#9) Fill in the missing dates

In [14]:
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
new_df11 = df.reindex(idx)
new_df11

            temperature  windspeed   event
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        NaN     NaN
2017-01-03          NaN        NaN     NaN
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny